@charset "utf-8";
/* CSS Document */

/*PRIMEFACES*/
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
    box-shadow: 1px 0px 1px rgb(100, 100, 100) inset;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid rgb(168, 168, 168);
    background: #fff;
    font-weight: normal;
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);

}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: 0px 1px 1px rgb(250, 250, 250) inset;
    /*color: rgb(49, 49, 49);*/
}


/* */ 



/****************************
LEFTMENUS***********************/

/*LEFTMENU-1*/

.leftmenu1 {	
    float:left;
    width: 260px;
}


.leftmenu1 nav ul {
    background: #38b394;
    box-shadow: 1px 0px 8px rgba(0,0,0,0.15);
    padding:0;
    border-radius: 4px;  
    list-style: none;
    position: relative;

}

.leftmenu1 li#blue-li {
    background:#3b68a0;
    border-radius: 4px;
}


.leftmenu1 nav ul li {
    clear: both;             
}

.leftmenu1 li#blue-li:hover a{
    color: #fff;
    text-decoration: none;
    background: #4375b4;
    border-radius: 4px;
}

.leftmenu1 nav ul li:hover {
    background: #f8f8f8;
    background: linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    border-radius: 4px;
}

.leftmenu1 nav ul li:hover a {
    color: #38b394;
    text-decoration: none;
}



.leftmenu1 nav ul li a {
    display: block; padding: 6px 15px;
    color: #f8f8f8; text-decoration: none;
}



/*LEFTMENU-2*/

.leftmenu2 {	
    float:left;
    width: 250px;
}


.leftmenu2 nav ul {
    background: #4375b4;  
    box-shadow: 1px 0px 8px rgba(0,0,0,0.15);
    padding:0;
    border-radius: 4px;  
    list-style: none;
    position: relative;
}

.leftmenu2 nav ul li {
    clear: both;
}

.leftmenu2 nav ul li:hover {
    background: #f8f8f8;
    background: linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    border-radius: 4px;
}

.leftmenu2 nav ul li:hover a {
    color: #4375b4;
    text-decoration: none;
}

.leftmenu2	nav ul li a {
    display: block; padding: 6px 15px;
    color: #f8f8f8; text-decoration: none;
}

/*LEFTMENU-3*/

.leftmenu3 {	
    float:left;
    width: 250px;
}


.leftmenu3 nav ul {
    background: #5a4cbc; 
    box-shadow: 1px 0px 8px rgba(0,0,0,0.15);
    padding:0;
    border-radius: 4px;  
    list-style: disc;
    position: relative;            
}

.leftmenu3 nav ul li {
    clear: both;
}

.leftmenu3 nav ul li:hover {
    background: #f8f8f8;
    background: linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e0e0e0 100%);
    border-radius: 4px;
}

.leftmenu3 nav ul li:hover a {
    color: #5a4cbc;
    text-decoration: none;
}

.leftmenu3 nav ul li a {
    display: block; padding: 6px 15px;
    color: #fff; text-decoration: none;
}




/*LAYOUT*/
html, body {
    height:100%;
    width:auto;
    font-size:100%;
    margin:0;
    padding:0;
}

#corpo {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    min-height:100%;
}

.main {
    overflow:auto;
    clear:both;
    padding-bottom:100px;
}

.pagecontent {
    height:100%;
    width:100%;
}

#footer {
    clear:both;
    float:left;
    width:100%;
    height:auto;        
    margin-top:0;
}

/*GENERAL INFORMATION */

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea, label {
    font-family: arial, verdana, sans-serif;
    line-height: 1.5;
    color:#444;
}

p, a, ul, ol {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a {
    color:#2980b9;
    text-decoration:none;
    font-weight: bold;	
}

a:hover {
    text-decoration:underline;
}

b, strong {
    color:#163f75;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans', sans-serif;
    color: #2980b9;
    font-weight:bold;
}

h2, h3{    
    font-size:1.4em;
}

img {
    border: 0;
}

/*HEADER*/


#header {
    height:auto;
    width:auto;
    padding: 5px 0 80px 0;
}

.headertop {
    float:left;
    padding-top:20px;
}

.headertop img {
    float:left;
    padding:0 20px 0 10px;
    border: #fff 1px;
    width: 195px;
}


.headermain a:hover{
    text-decoration:none;
}

#rightheader {
    float:right;
}

#fastsignin {
    position:relative;    
    left: 25px;
    text-align: right;
    font-size: .8em; 

}

#fastsignin a {
    color: #2980b9;
}

.ui-panel .ui-panel-content {    
    padding:10px 11px 5px 0!important;
}

#fastsignin .ui-widget {
    font-family: 'Open Sans', sans-serif!important;    

}


#searchbar {
     
}

/* FAST LOGIN */

/*  fast login */

#fastlogin .ui-inputfield {
    padding:8px;
    margin-bottom: 5px;
}

#fastlogin .ui-overlaypanel {
    border-radius: 10px;
    border: 1px solid #ddd;
}

#fastlogin .ui-shadow{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
}

.btnlogin  {
    float:right;
    display:block!important;
    color: #900!important;
    overflow: visible!important;
    margin-top:5px;
    border: 0!important;
    padding: 0!important;
    cursor: pointer!important;
    height: 30px!important;
    width: auto!important;
    font-size: bold 5px!important;
    color: #fff!important;
    text-transform: uppercase!important;
    background: #4375b4!important;
    border-radius: 3px!important;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3)!important;

}

.btnlogin:hover {
    background: #2980b9!important;
}


/*Search bar*/

.form-wrapper input {
    width: 212px;
    height: 20px;
    padding: 10px 5px;
    border: 0;
    background: #eee;
    float: left;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.form-wrapper input {
    /*outline: 1;*/
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}    


/* Form submit */

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 80px;
    font-size: bold 15px;
    color: #fff;
    text-transform: uppercase;
    background: #bdc3c7;    
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}  

.form-wrapper button:hover{    
    background: #3498db;
}  

.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #bdc3c7;
    outline: 0;  
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #bdc3c7 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #3498db;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #fbaf3e;
}     

.form-wrapper button::-moz-focus-inner {/* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/*TOPMENU*/

.topmenu {
    padding-top:25px;
}

.topmenu nav {	
    width: 100%;
}

.topmenu nav ul ul {
    display: none;
}

.topmenu nav ul li:hover > ul {
    display: block;
}

.topmenu nav ul {
    background: #3498db;  
    padding: 0 5px;
    border-radius: 25px;  
    list-style: none;
    position: relative;
}

.topmenu nav ul:after {
    content: ""; 
    clear: both;
    display: block;
}

.topmenu nav ul li {
    float: left;
}

.topmenu nav ul li:hover {
    background: #2980b9;
    border-radius: 25px; 
}

.topmenu nav ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.topmenu nav ul li a {
    display: block; padding: 6px 20px;
    color: #fff; text-decoration: none;
}


/*PAGECONTENT*/

.pagecontent  h1{
    font-size:1.8em;

}

.pagecontent p {
    text-align:left;
}


/*FOOTER */

#footer {
    border-top:1px solid #2980b9 ;     
    background-color:#3498db;
    text-align:center;
    font-size:.85em;
}

#footer p{
    line-height:.5em;
    color:#e0e0e0;
    font-size: 1.0em;
}

#footer .urls li {
    display:inline;
    font-weight:bold;
}

#footer li{
    color:#efefef;
    font-size: 1.3em;
}


#footer a {
    color:#efefef;
    font-size: .8em;
}

#footer a.ajuda  {
    font-weight:bold;    
}	

.wc {
    border:1px #ddd solid;
}

/****************************
INDEX***********************/

#maintop{
    padding: 5px 0 5px 0;
    clear:both;
    width: 100%;
}

#mainbottom{
    float: left;
    padding-top: 10px;
    clear: both;
}

#mainbottom h1 {
    line-height: 1;
    margin:0px;
}


#mainleft{
    float: left;
    width: 47%;
}

#mainright{
    float:right;
    width: 47%;
}

#maincenter{
    float: left;
    width: 100%;
    background: #efefef;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.30);
    padding: 0 0 10px;
    border-radius: 4px;
}

.maindescribe img {
    width: 40px;
    height: 40px;
    float: left;
    padding: 4px 20px 0 0;
}

.maindescribe p {
    text-indent: 0;
}

#mainleft h1{
    margin:0;
}

#mainvideo {
    float:right;
}

#signup h1{
    padding-left: 5px; 
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    font-size: .7em;
    line-height: 0;
}    

.ui-messages ul li{
    display:inline;

}

.signuptext{
    padding-bottom: 3px;
}

.signuptext input{
    margin-left: 8px;
    width: 420px;
    height: 20px;
    padding: 12px 10px;
    border: 0;
    background: #eee;
    font-size: 1.1em; 
}

.signuptext input {
    outline: 1;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

.signuptext input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.signuptext input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.signuptext input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.form-signup button {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font: bold 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    background: #fbaf3e;
    border-radius: 4px;     

}

.form-signup button:hover{    
    box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
}  

.form-signup button:active,
.form-signup button:focus{  
    background: #c42f2f;
    outline: 0;  
}

#signupbottom td{
    border-width: 0;
    border-style: none;
    background: #efefef;
}

.ui-widget {
    font-size:1em;
}

.ui-widget-content {
    border:0;
}

.ui-panelgrid td {
    padding-top: 0;
    border-style:none!important;
}

#signupsex {
    padding: 20px 0 0 10px;
}

#signupsubmit {
    padding:0 10px;
    width:440px;
}

#signupp{
    float:left;
}

#signupbtn{      
    padding-top:12px;    
    float:right;
}

#signupsubmit p{
    font-size: .8em;
    text-indent: 0;    
}

#signupsubmit button{
    background-color: #6ec21c;
    padding-top: 2px;
    border: 1px #6ec21c;
    width: auto;
    height: 35px;
    font-size: .9em;
    font-weight: 500;
    line-height: 0;
    text-shadow: none; 
}


/* LOGIN PAGE */

#signin {
    margin:5% 0 0 30%;
    height: 350px;
    width: 460px;
    padding: 10px 0 10px;
    border-radius: 20px;
    border: 2px solid #e0e0e0;
    background: #efefef;
    background: linear-gradient(top, #efefef 20%, #e0e0e0 100%);  
    background: -moz-linear-gradient(top, #efefef 20%, #e0e0e0 100%); 
    background: -webkit-linear-gradient(top, #efefef 20%, #e0e0e0 100%); 
}

#signin h1{
    padding-left:10px; 
}

#signinbtn {
    padding-top: 10px;
}

#signinsubmit button{
    position:relative;
    left: 100px;
    background-color: #6ec21c;
    padding-top: 2px;
    border: 1px #6ec21c;
    width: auto;
    height: 35px;
    float:left;
    font-size: .9em;
    font-weight: 500;
    line-height: 0;
    text-shadow: none;

}

#signincheck {
    position:relative;
    left:100px;
    top:8px;
    float:left;
    padding: 0 0 0 20px;  
}

#signinsubmit p{
    padding-top: 20px;
    float:left;
    text-indent: 0;
    text-align: right;
}


/*O PROGRAMA*/

img#artigotabaco{
    border:1px solid #fff;
    background: #fff;
    float:right;
    margin: 50px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
    padding: 5px;   

}

#vstpaisagem {
    display:block;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


#btnprog {
    padding: 30px 0 0 190px;
}

/*IMGS */

#logoscenter {
    padding:0 0 50px 0;
    margin-left: auto;
    margin-right: auto;
    width: 790px;
}

#logoscenter img {
    padding: 0 10px 0 10px;
}


.btngen1 {
    display:block!important;
    color: #900!important;
    overflow: visible!important;
    border: 0!important;
    padding: 0 5px 0 5px!important;
    cursor: pointer!important;
    height: 40px!important;
    width: auto!important;
    font-size:15px!important;
    color: #fff!important;
    text-transform: uppercase!important;
    background: #38b394!important;
    border-radius: 3px!important;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3)!important;

}

.btngen1:hover {
    background: #12745c!important;
}

.btngen3 {
    display:block!important;
    color: #900!important;
    overflow: visible!important;
    border: 0!important;
    padding: 0 5px 0 5px!important;
    cursor: pointer!important;
    height: 40px!important;
    width: auto!important;
    font-size:15px!important;
    color: #fff!important;
    text-transform: uppercase!important;
    background: #5a4cbc!important;
    border-radius: 3px!important;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3)!important;

}

.btngen3:hover {
    background: #25197a!important;
}


/*QUEM SOMOS*/
.pesquisadores {
    padding:10px 0 10px 0;
    clear:both;
}

.pesquisadores h3 p {
    position:relative;
    top:0px;
    line-height: 0;
}

.pesquisadores p {
    text-indent: 0;
}

.fotopesq{
    float:left;
}

.imgpesq{
    float:left;
    width:120px;
    margin: 30px 20px 0 0;
    padding:5px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
}

/*REFERENCES*/

#bib p {
    font-size: 0.8em;
}


/*INSIDE PAGES*/

#pagetop{
   float:right;
   width:310px;
}


#pagecontentstrategy{
    margin-left: 270px;
}

#pagecontentstrategyH3{
    text-align: center;
}


#hpagetop{
    float:left;
}

#progressbar{
    float:right;
    width: 300px;
    position:relative;
    top:31px;
    right: 1px;    
}

#progressbar .ui-progressbar .ui-widget-header{
    background: #f1c40f!important;
}

#progressbar .ui-widget-header{
    border:1px solid #f39c12!important;
}


#progressbar .ui-progressbar .ui-progressbar-label{
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #444;
    
}

#pagemiddle{
    clear:both;
    border-radius: 15px;
    background: whitesmoke;
    border: 1px solid #bdc3c7;
    padding-bottom:15px;
    padding-top:15px;
    padding-left: 10px;
}

#pagemiddle .ui-widget-content {
    background: whitesmoke!important;    
}

#pagemiddle .ui-panel .ui-panel-content {
    padding: 0!important;    
}

#pmtext li, p, h2, h3, h4, panelGrid{
    padding-left:20px;
}

.fotoframe{
    max-width: 285px;
    float:right;
    margin: 50px 15px 40px 50px;        
}

.fotoframestrategy{
    width:289px;
    border:1px solid #bdc3c7;
    background: #fff;
    float:right;
    margin: 40px 10px 40px 40px;        
    border-radius: 20px;
    position: relative;
    left:250px;
}

#btnback {      
    clear:both;
    float:left;
    position:relative;
    top:25px; 
}

#btnnext {      
    float:right;      
    position:relative;
    top:25px;
}

.btngen {
    display:block!important;
    color: #fff!important;
    overflow: visible!important;
    border: 0!important;
    padding: 0 10px 0 10px!important;
    cursor: pointer!important;
    height: 40px!important;
    width: auto!important;
    font-size:15px!important;    
    text-transform: uppercase!important;
    background: #3498db!important;    
    border-radius: 30px!important;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3)!important;
}

.btngen:hover {
    background: #2980b9!important;
    box-shadow: 0!important;
    -moz-box-shadow: 0!important;
    -webkit-box-shadow: 0!important;
}




/*Avaliar estagio */

#opcoes-img {
    float:left;
    margin: 0;
    padding:25px 10px 0 10px;
}

#topo-avaliar {
    float:left;
}

#seta1-img {
    clear:both;
    position:absolute;
    top:640px;
    padding-left: 270px;
}

#seta2-img {
    clear:both;
    position:absolute;
    top:640px;
    padding-left: 280px;
}

#passosbottom {
    clear:both;   
}

.passos {
    width:290px;
    float:left;
    margin:20px;
    background-color: #f8f8f8;
    border-radius: 50px;
    border: solid #ddd 1px;
    height: 440px;
}

.passos h2 {    
    padding-left:20px;    
    width:80%;
    text-align: left;    
    
}

.passos a{
    color:#808080;
    text-decoration: none;
}

.passos-txt li{
    margin-bottom:5px;
    list-style: circle;  
    font-weight: 500;        

}

.passos-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Menu Interno */
#menu-mini {
    float:right;
}

#preparando-img {
    float:left;
    width: 50px;
    clear:both;
}

#parando-img {
    float:left;
    width: 50px;
    padding: 0 5px 0 5px;
}

#acompanhamento-img {
    float:left;
    width: 50px;
}

/*PAGINAS PARANDO DE FUMAR*/


.txtproximopasso{    
    float:left; 
    width:580px;    

}

.txtproximopasso p{
    text-indent: 0;
}

.btnfloat {
    float:left;
    position:relative;
    top:65px;
    left:50px;

}

.btnfloat1 {
    float:left;

}

.referencias {
    padding-top:50px;
    clear:both;
}

.referencias p{
    color:#999;
    font-size: .9em;
    line-height: 1.2;
    text-indent: 0;
}

/*Riscos de fumar*/
#cartoonman {
    width:240px;
    float:right;
}

/*Calculadora*/
#gastostabagismo{
    width: 100px;
    float:right;
    margin: 0 0 50px 50px;
}

#calculatortop td{
    width:280px;
}

#calculatorbottom td{
    width:280px;
}
/* Live Without Tobacco Piece of Code
/* COMO VENCER OS MEDOS*/

/* AVALIAÇÃO COMORBIDADES*/
#avacomorbidades{

}

/* COMO SUBSTITUIR  */

.buscarajuda{
    clear:both;
}

.imgbuscarajuda img{
    float:left;
    width:100px;
    height:100px;
    margin-right:20px;
}

.pbuscarajuda{
    float:left;
    width:480px;
    padding-bottom:25px;
}

.pbuscarajuda h4{
    margin:0;
}

.pbuscarajuda p{
    text-indent: 0;
}

.btnbuscarajuda{
    float:right;
    padding: 40px 5px 0 0;
}


/* PASSO 2 ********
PRONTO PARA PARAR*/

.fotoframeclean{
    float:right;
    border: 1 solid #fff;
    margin: 20px 10px 40px 40px;
}

/* medicamentos */

/* Vencendo a fissura */

.btnfloatspec {
    float:left;
    position:relative;
    top:65px;
    left:20px;

}

/* Recaídas */

#qrecaida p {
    text-indent: 0;
    font-weight: bold;
}

thead{
    text-align: left;    
}


/** Impressão plano **/

.planoimg img {
    border:0;
}

#planoimg1 {
    float:left;
}

.planoimg p {
    text-indent: 0;
}

#planoimg2 {
    float:left;
    padding-left: 50px;
}

#mailandprint {
    float: right;
}

#planoimg2 p {
    position:relative;
    left:12px;
}

/* STANDARD DRINK */
#standarddose  {
    float:left;
    width:auto;
    height: auto;
    margin-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px; 
    
}

#standarddose h1{
    line-height:normal;
    text-align: center;
    padding:0 0 5px 0;
    margin: 0;
    font-size: 26px;  
    border-bottom: 1px solid #BDC3C7;
}

#doseex1, #doseex2, #doseex3, #doseex4, #doseex5{
    float:left;    
}

.doseexample {
    width: 100px;
    height: auto;
    padding: 0 30px 0 30px;
}

.doseh h2 {
    font-size: 20px;
    line-height: 26px;
    color: #555;
    font-weight: bolder;
    text-align: center;
}

.doseimg img {
    width: 100px;
    padding-left: 10px;
}

.dosep1 p {
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    line-height:normal;
    padding-top:20px;
    margin: 0;        
}


.dosep2 p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    line-height:normal;
    padding:0;
    margin: 0;        
}


#audit3evaluation{
    clear:both;
}

hr {
    color: #BDC3C7;
}